*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fbcfe8;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #ec4899;
    background-color: #ffffff;
}

.x {
  color: #ec4899;   /* pink for X */
  font-weight: bold;
}

.o {
  color: #7071c9;   /* blue/purple for O */
  font-weight: bold;
}

.box {
  transition: all 0.2s ease;
}

.box:hover {
  transform: scale(1.05);
}

.win {
  background-color: #fde047 !important; /* yellow highlight */
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #f9a8d4;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #f9a8d4;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #ec4899;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}